body {
  padding-top: 56px;
  background-color: #dae0e6;
}

body main {
  padding-top: 25px;
}

#main-jumbotron {
  background-image: url('https://images.unsplash.com/photo-1536181783029-1097aaf179de?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=63e9afce2915c4f2d3b445ca68df31ac&auto=format&fit=crop&w=2252&q=80');
  background-size: cover;
  background-position-y: 75%;
  color: white;
}

#main-jumbotron .container-fluid {
  margin-left: 5%;
}

#page-features {
  margin-top: 100px;
}

.card-title {
  margin-top: 25px;
}

#recent-topics {
  margin-top: 50px;
  width: 90%;
  margin-bottom: 50px;
}

#topics-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#topic-show-header {
  margin-top: 50px;
  margin-bottom: 50px;
}

#topic-show-posts {
  margin-top: 50px;
}

#post-show {
  margin-top: 50px;
}

#comment-form {
  margin-top: 50px;
}

#comment-list {
  margin-top: 100px;
}

#post-description {
  margin-top: 10px;
  margin-left: 50px;
}

/* home */

#signup-call-home .btn{
  width: 100%;
  margin-bottom: 10px;
}

#signup-call-home .btn{
  width: 100%;
}

#signin-form-home {
  padding: 10px;
  background-color: white;
  margin-top: 30px;
  border-radius: 5px;
}

#signin-form-home button {
  width: 100%;
}

#logged-user-home-call .btn {
  width: 100%;
  margin: 5px 0;
}

#myTab {
  margin-top: 25px;
  border-radius: 5px;
}

/* Signin */

#signin {
  max-width: 500px;
  margin-top: 50px;
}

#signin-signup {
  margin-top: 10px;
}

/* Signup */

#signupForm {
  max-width: 500px
}